%tr
  %td
    = f.input :name, :as => :string, :label => false, :input_html => {:class => 'input-xxlarge'}
    = f.input :matter_id, :as => :hidden, :input_html => {:value => resource.matter_id}
  %td
    = link_to_remove_association t(:remove), f, :class => 'icon delete'
