.nested-fields
  .span10
    .span3
      = f.association :tlresult, :collection => Proc.new{ Tlresult.all.map{ |c| [c.name, c.id]}}
    .span3
      = f.association :qualifyingentity, :collection => Proc.new{ Qualifyingentity.all.map{ |q| [q.name, q.id]}}
    .span3  
      = f.input :percentage
    .span2
      = link_to_remove_association "remove percentage", f
