= simple_form_for @average_score, :method => 'put', :remote => true, :html => {:class => 'inplace'} do |f|
  = f.input :grade
  = f.input :observations, :as => :text, :input_html => {:class => 'with_markitup', :cols => 40, :rows => 3}
  = f.button :submit, :class => 'btn-primary'
