/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *
 *= require jquery.ui.all
 *
 *= bootstrap-sass
 *
 *= require select2
 *
 *= require_tree . 
*/


body {
  border-top: 5px solid #fff;
  background: url(noisy_grid.png) repeat center left fixed;
}

div.blackboard{
  width: 90%;
  margin-right: 0px;
  overflow: scroll;
}

div.menu_profiles {
  display: none;
  background: url(pizarra.png) no-repeat fixed left 50px transparent;
  width: 25%;
  min-height: 300px;
  float: left;
  padding: 120px 0 0 20px;
  color: white;
}

div.classroom_profiles {
  min-height: 200px;
}

div.content {
  display: inline-block;
  float: right;
  width: 100%;
}

.icon:before {
  content: none;
}

div.content-header {
  background: url("foliosuperior.png") repeat;
  height: 70px;
}

div.content-body {
  background: none repeat scroll 0 0 white;
  padding: 5px 20px;
  min-height: 400px;
}

div.cocoon_with_chzn {
  div.nested-fields {
    clear: both;
    padding-left: 10px;
    .control-group {
      float: left;
      margin-bottom: 2px;
      margin-right: 10px;
      label {
        display: none;
      }
    }
    &:first-child label {
      display: block;
    }
    & + div.links {
      clear: both;
    }
  }
  div.links {
    margin-bottom: 10px;
    padding-left: 10px;
    clear: both;
  }
}

dl {
  margin-top: 0px;
  margin-bottom: 30px;
  border-bottom: 1px dotted #CCCCCC;
  height: 30px;
  dt {
    float:left;
    margin-right: 5px;
  }
  dd {
    float:left;
    margin-right: 10px;
  }
}

// select2
.bigdrop.select2-container .select2-results {max-height: 300px;}
.bigdrop .select2-results {max-height: 300px;}
