// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input.percentage
{
  height:8px;
  width: 85px;
}

// Scores
.scores {
  .actions {
    padding: 1em;
  }
  table#qualifyingentity_tlresults_table, table.fht-table {
    tr {
      th, td {
        white-space: nowrap;
        text-align: center;
        border-left: 1px solid #CCCCCC;
        border-right: 1px solid #CCCCCC;
        border-top: 1px solid #CCCCCC;
        background-color: white;
        a {
          display: inline-block;
        }
        &.score, &.tlresult {
          width: 40px;
        }
        &.aux {
          width: 80px;
        }
        // &.name {
        //   width: 200px!important;
        // }
      }
      th {
        border-bottom: 1px solid #CCCCCC;
        vertical-align: bottom;
        min-width: 40px;
        &.qualifyingentity.odd {
          background-color: #F4F6FD;
        }
        &.qe_actions {
          border-left: 1px solid #CCCCCC;
        }
      }
      td {
        vertical-align: middle;
        min-width: 40px;
        &.qualifyingentity.odd {
          background-color: #F4F6FD;
        }
        &.qe_actions {
          border-left: 1px solid #CCCCCC;
        }
      }
      th.name, td.name {
        text-align: left;
        padding-left: 10px;
        min-width: 300px;
        p {
          margin-bottom: 2px;
        }
      }
      th.aux, td.aux {
        border-right: 1px solid #CCCCCC;
        border-left: 1px solid #CCCCCC;
        span.aux {
          a {
            margin: 0px 3px;
          }
        }
      }
      th.score.average, td.score.average {
        background-color: #FAFAFA;
        border-left: 1px solid #CCCCCC;
      }
      th.score.average.student, td.score.average.student {
        background-color: #F4F4F4;
        border-left: 1px solid black;
      }
    }
  }
}

div#qualifyingentity_new, div#qualifyingentity_edit {
  min-width: 670px;
}

div#student_edit {
  min-width: 670px;
  min-height: 450px!important;
}
