// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input.percentage
{
  height:8px;
  width: 85px;
}

// Scores
table#qualifyingentity_tlresults_table {
  border-bottom: 1px solid #DDDDDD;
  th, td {
    white-space: nowrap;
    text-align: center;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    a {
      display: inline-block;
    }
  }
}

div#qualifyingentity_new, div#qualifyingentity_edit {
  min-width: 670px;
}
