// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input.percentage
{
  height:8px;
  width: 85px;
}

// Scores
.scores {
  .actions {
    padding: 1em;
  }
  table#qualifyingentity_tlresults_table, table.fht-table {
    border-bottom: 1px solid #DDDDDD;
    tr {
      th, td {
        white-space: nowrap;
        text-align: center;
        border-left: 1px solid #BBBBBB;
        border-right: 1px solid #BBBBBB;
        border-top: 1px solid #BBBBBB;
        background-color: white;
        a {
          display: inline-block;
        }
        &.score, &.tlresult {
          width: 40px;
        }
        &.aux {
          width: 80px;
        }
        // &.name {
        //   width: 200px!important;
        // }
      }
      th {
        border-top: 1px solid #DDDDDD;
        border-bottom: 1px solid #DDDDDD;
        vertical-align: bottom;
      }
      td {
        vertical-align: middle;
      }
      th.name, td.name {
        text-align: left;
        padding-left: 10px;
        p {
          margin-bottom: 2px;
        }
      }
      th.qualifyingentity.odd {
        background-color: #F4F6FD;
      }
      td.qualifyingentity.odd {
        background-color: #F4F6FD;
      }
      td.aux {
        span.aux {
          a {
            margin: 0px 3px;
          }
        }
      }
    }
  }
}

div#qualifyingentity_new, div#qualifyingentity_edit {
  min-width: 670px;
}

div#student_edit {
  min-width: 670px;
  min-height: 450px!important;
}
